.menu {
    position: absolute;
    list-style: none;
    width: 100%;
    transform: translateY(12px);
    padding: 7px 12px;
    border-radius: 4px;
    left: 0;
    background-color: inherit;
}

.menuItem {
    margin-bottom: 12px;
    cursor: pointer;
}