@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --nav-background-dark: #1F2937;
    --nav-background-light: #fefefe;
    --home-background-dark: #111827;
    --home-background-light: #eff1f3;
    --text-primary-dark: #F3F4F6;
    --text-primary-light: #111827;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-style: normal;
    font-optical-sizing: auto;
}